# Created by https://www.toptal.com/developers/gitignore/api/linux,visualstudiocode,react,strapi
# Edit at https://www.toptal.com/developers/gitignore?templates=linux,visualstudiocode,react,strapi

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Strapi ###

.env
license.txt
exports
*.cache
build
.strapi-updater.json

############################
# OS X

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Linux



# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


# Packages

*.7z
*.csv
*.dat
*.dmg
# *.gz
*.iso
*.jar
*.rar
# *.tar
# *.tar.gz
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

# Logs and databases

.tmp
*.sql
*.sqlite
*.sqlite3


# Misc.

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

# Node.js

lib-cov
lcov.info
pids
results
.node_history

# Tests

testApp
coverage

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/linux,visualstudiocode,react,strapi